

.contact {
	background: #ffffff;
	padding: 60px 0px 70px 0px;
}

.contact .titlepage {
	text-align: center;
}

.contact .titlepage h3 {
	padding: 0px 0px 6px 0px;
	font-weight: bold;
	color: #fff;
	line-height: 46px;
	border-bottom: #fff solid 1px;
	font-size: 40px;
    width: 229px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.contact .contact {
	background: #4d81ae;
	width: 100%;
	height: 100%;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 6px 0px rgba(0,0,0,0.75);
}

.contact .contact .contactus {
	border: #b1b0b0 solid 1px;
	padding: 12px 19px;
	margin-bottom: 26px;
	border-radius: inherit;
	color: #000;
	width: 100%;
}

.contact .contact .textarea {
	margin-bottom: 25px;
	padding: 15px 19px;
	color: #000 !important;
	width: 100%;
	border: #b1b0b0 solid 1px;
	border-radius: inherit;
}

.contact .contact .send {
	font-size: 16px;
	border: #fff solid 1px;
padding: 10px 50px;
background-color: #fff;
color: #000;
	display: flex;
	justify-content: center;
	margin-top: 5% ;
    margin-left: auto;
    margin-right: auto;
	align-items: center;
	flex-wrap: wrap;
    transition: ease-in all 0.5s;
	border-radius: 10px;

}

.contact .contact .send:hover {
	background-color: #30c6ff;
border: #0fe8ff solid 1px;
color: #fff;
    border-radius: 25px;
    transition: ease-in all 0.5s;
}

.form-check-label {
    color: white;
  }

.phoneDiv{
	position: relative;
}

.PhoneInputInput
{
	position: relative;
}


.contact .contact .contactus2 {
	
	padding: 12px 19px;
	margin-bottom: 26px;
	border-radius: inherit;
	color: #000;
	width: 100%;
	position: relative;
}

.PhoneInputCountry{
position: absolute;
left: 0;


}

.PhoneInputInput {
	flex: 1 1;
	min-width: 0;
	position: absolute;
	right: 0;
	width: 90%;
	margin-left: 1%;
  }

  @media screen and (max-width: 540px) {
   

	.PhoneInputInput{
		width: 80%;

	}

}